{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "tita.esperanza",
      "Space": "CI-dev"
    },
    "Name": "Fabulous Price Finder (cloudant)",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}